PORT=3000
MONGO_URI=mongodb+srv://USER:PASS@cluster0.xxxxx.mongodb.net/odds_db?retryWrites=true&w=majority
THE_ODDS_API_KEY=sua_chave_aqui
THE_ODDS_SPORT_BRAZIL=soccer_brazil_campeonato
THE_ODDS_SPORT_BRAZIL_SERIE_A=soccer_brazil_campeonato
THE_ODDS_SPORT_PREMIER_LEAGUE=soccer_epl
THE_ODDS_SPORT_LA_LIGA=soccer_spain_la_liga
THE_ODDS_SPORT_LIBERTADORES=soccer_conmebol_copa_libertadores
THE_ODDS_SPORT_SULAMERICANA=soccer_conmebol_copa_sudamericana
THE_ODDS_SPORT_WORLD_CUP=soccer_fifa_world_cup
ODDS_CACHE_TTL_SEC=300
ALLOW_MOCK_FALLBACK=true
FRONTEND_URL=https://odds-system.vercel.app
